section#footer
			.container
				.row
					.col-sm-3.accesories.cj
						h4 ACCESORIES
						p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						i.fa.fa-facebook
						i.fa.fa-twitter
						i.fa.fa-rss
						i.fa.fa-skype
						i.fa.fa-dribbble
					.col-sm-2.account.cj
						h4 MY ACCOUNT
						p 
							i.fa.fa-caret-right    My account
						p 
							i.fa.fa-caret-right    Order History
						p 
							i.fa.fa-caret-right    Wish list
						p 
							i.fa.fa-caret-right    Newsletter
					.col-sm-2.cj
						h4 INFORMATION
						p 
							i.fa.fa-caret-right    About us
						p 
							i.fa.fa-caret-right    Delivery Information
						p 
							i.fa.fa-caret-right    Privacy Policy
						p 
							i.fa.fa-caret-right    Terms & Condition
					.col-sm-2.cj
						h4 EXTRASS
						p
							i.fa.fa-caret-right   Brands
						p
							i.fa.fa-caret-right   Gift vouchers
						p
							i.fa.fa-caret-right   Affiliates
						p 
							i.fa.fa-caret-right   Specials
					.col-sm-3.about.cj
						h4 ABOUT US
						.row
							.col-sm-3
								i.fa.fa-map-marker.img-circle
							.col-sm-9 
								p 8901 Marmora Road
						.row
							.col-sm-3
								i.fa.fa-phone.img-circle  
							.col-sm-9 
								p (0123)456789
						.rowss
							.col-sm-3
								i.fa.fa-envelope.img-circle 
							.col-sm-9  
								p admid@booxtextexpert.com
section#footer2
	.container
		.row
			.col-sm-8
				p.mg Copyright 2015 BooksExpert All right reserved
			.col-sm-4
				img.pull-right(src="assets/images/payment.png")