section#header
	.header-top
		.container
			.row
				.col-sm-6
					p Default Welcome Msg!
				.col-sm-6
					.menu.pull-right
						ul.list-header.list-unstyle.list-inline
							li
								img(src="assets/images/flag1.png")
								p Languages
								i.fa.fa-angle-down
							li
								i.fa.fa-user
								p Currency
								i.fa.fa-angle-down
							li
								i.fa.fa-user
								p My Account
								i.fa.fa-angle-down
	.header
		.container
			.row
				.col-sm-4.caja-clock.text-center
					i.fa.fa-clock-o
					.clock
						h3 OPENNING TIME
						P 9:00 AM - 10:00 PM
				.col-sm-4.caja-clock.text-center
					img(src="assets/images/logo.png")
				.col-sm-4.caja-clock.text-center
					input(type="text", placeholder="Buscar", required)
					i.fa.fa-search
