doctype html
html(lang="en")
	head
		title fashion
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css")

		script(src="assets/js/jquery.js")
		script(src="assets/js/bootstrap.min.js")

	body
		include ./header.jade
		section#hero
			.hero-top
				.container
					.row
						.col-sm-10
							ul.list-unstyle.list-inline
								li 
									a(href="")
										strong HOME
								li
									a(href="contact.html")
										strong CONTACT US
						.col-sm-2
							.shooping.text-center 
								i.fa.fa-shopping-cart
								h5 My Cart
								p 
									small 2 items-$244.00	
			.hero
				.container
					.row
						.col-sm-12
							.descripcion
								h1.text-center AUTTUMN/WINTER LOOKBOOK
								h3.text-center - 2016 COLLECTION -
		section#new-products
			.container
				.row
					.col-sm-5
						.accesorios
							img(src="assets/images/banner1.jpg")
					.col-sm-7
						.accesorios
							img(src="assets/images/banner2.jpg")
				.row.text-center
					.list-produts
						ul.list-unstyle.list-inline
							li
								i.fa.fa-angle-left
							li LATEST
							li BEST SELLER
							li SALE
							li
								i.fa.fa-angle-right
				.row
					.col-sm-3
						.caja-productos.text-center
							.new
								p New
							img(src="assets/images/a1.jpg")
							p Deliver Wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p.price $218.00
					.col-sm-3
						.caja-productos.text-center
							.sale
								p Sale
							.new
								p New
							img(src="assets/images/b1.jpg")
							p Deliver Wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p.price $218.00
					.col-sm-3
						.caja-productos.text-center
							.sale
								p Sale
							img(src="assets/images/c1.jpg")
							p Deliver Wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p.price $218.00
					.col-sm-3
						.caja-productos.text-center
							.new
								p New
							img(src="assets/images/d1.jpg")
							p Deliver Wide
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
							i.fa.fa-star-o
							p.price $218.00
		section#brands
			.container
				img(src="assets/images/client1.jpg")
				img(src="assets/images/client2.jpg")
				img(src="assets/images/client3.jpg")
				img(src="assets/images/client4.jpg")
				img(src="assets/images/client5.jpg")
				img(src="assets/images/client6.jpg")
		section#products
			.container
				.row.text-center
					.list-productos
						ul.list-unstyle.list-inline
							li
								i.fa.fa-angle-left
							li CLOTHING
							li EQUIPMENTS
							li JEWELLERY
							li
								i.fa.fa-angle-right
				.row
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									.sale
										p Sale
									.new
										p New
									img(src="assets/images/a2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									.new
										p New
									img(src="assets/images/d2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									img(src="assets/images/g2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									.new
										p New
									img(src="assets/images/c2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									.sale
										p Sale
									img(src="assets/images/c2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
					.col-sm-4
						.row
							.col-sm-6
								.caja-productos
									.new
										p New
									img(src="assets/images/e2.jpg")
							.col-sm-6
								.caja-productos2
									h3 Deliver Wide
									p.pink $218.00
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star-o
									i.fa.fa-star-o
									.add
										i.fa.fa-shopping-cart
										p Add to Cart
		section#blog
			.container
				.row.text-center
					.blog
						i.fa.fa-angle-left
						h2 BLOG
						i.fa.fa-angle-right
				.row
					.col-sm-3
						.caja-blog
							img(src="assets/images/blog2.jpg")
							h5 THE SAMPLE HEADING TITLE
							p lorem ipsum dolor sit ament consecteur adipisic ing elit, sed do ...
							a(href="") Read more ...
					.col-sm-3
						.caja-blog
							img(src="assets/images/blog1.jpg")
							h5 THE SAMPLE HEADING TITLE
							p lorem ipsum dolor sit ament consecteur adipisic ing elit, sed do ...
							a(href="") Read more ...
					.col-sm-3
						.caja-blog
							img(src="assets/images/blog2.jpg")
							h5 THE SAMPLE HEADING TITLE
							p lorem ipsum dolor sit ament consecteur adipisic ing elit, sed do ...
							a(href="") Read more ...
					.col-sm-3
						.caja-blog
							img(src="assets/images/blog3.jpg")
							h5 THE SAMPLE HEADING TITLE
							p lorem ipsum dolor sit ament consecteur adipisic ing elit, sed do ...
							a(href="") Read more ...
				.row.cajas
					.col-sm-4
						.caja-blog1
							.row
								.col-sm-3
									i.fa.fa-phone-square
								.col-sm-9
									.caja
										h4 ORDER ONLINE NOW
										p Call us (0123)456789
					.col-sm-4
						.caja-blog1
							.row
								.col-sm-3
									i.fa.fa-plane
								.col-sm-9
									.caja
										h4 FREE WORLDWIDE SHIPPING
										p On Order Over $100
					.col-sm-4
						.caja-blog1
							.row
								.col-sm-3
									i.fa.fa-money
								.col-sm-9
									.caja
										h4 30 DAYS MONEY BACK 100%
										p Satifation Guarantee
		include ./footer.jade

